<div class="post card">
    <h1>{{post.post_title}}</h1>
    <p class="timestamp">{{format_date post.createdAt}}
        {{format_time post.createdAt}}</p>
    <p>{{post.post_body}}</p>
    <p>{{post.user.username}}</p>

</div>